#LeftSidebar {
	left: 0;
	padding-left: 50px;
}

#RightSidebar {
	right: 0;
	padding-right: 50px;
}

.Sidebar {
	top: 50px;
	height: 50%;
	width: 250px;
	position: absolute;
	/*text-align: center;*/
}

	/*.Sidebar h2, .Sidebar h3, .Sidebar h4 {
		color: #000000;
		margin: 0 5%;
		font-weight: 400;
		font-size: large;
		font-variant: small-caps;
		background-color: #FFFFFF;
	}*/

@media only screen and (max-width: 1200px) {
	.Sidebar, #LeftSidebar, #RightSidebar {
		top: auto;
		left: auto;
		right: auto;

		width: 100%;
		min-width: 250px;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;

		padding: 0;
		clear: both;
		position: relative;
	}
}
